<!-- editar-trabajador.component.html -->

<mat-card>
    <mat-card-header>
      <mat-card-title>Editar Trabajador</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Formulario para editar trabajador -->
      <form (ngSubmit)="editarTrabajador()">
        <mat-form-field>
          <input matInput placeholder="Nombre" [(ngModel)]="trabajadorEditado.nombre" name="nombre" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Apellidos" [(ngModel)]="trabajadorEditado.apellidos" name="apellidos" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Género" [(ngModel)]="trabajadorEditado.genero" name="genero" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Fecha de Nacimiento" [(ngModel)]="trabajadorEditado.fechaNac" name="fechaNac"  required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Número de Documento" [(ngModel)]="trabajadorEditado.numeroDocumento" name="numeroDocumento" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Dirección" [(ngModel)]="trabajadorEditado.direccion" name="direccion" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Teléfono" [(ngModel)]="trabajadorEditado.telefono" name="telefono" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="trabajadorEditado.email" name="email" type="email" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Acceso" [(ngModel)]="trabajadorEditado.acceso" name="acceso" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Usuario" [(ngModel)]="trabajadorEditado.usuario" name="usuario" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Clave" [(ngModel)]="trabajadorEditado.clave" name="clave" type="password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
      </form>
    </mat-card-content>
  </mat-card>
  